
<div class="company-container">
  <h2 class="title">מעקב מניות. גרפים. תובנות מהירות</h2>
  <p></p>
  <div class="button-group">
    <button (click)="selectCompany('TSLA')" >🚘 TESLA</button>
    <button (click)="selectCompany('META')" >🌐 META</button>
    <button (click)="selectCompany('NFLX')" >🎞️ NETFLIX</button>
    <button (click)="selectCompany('GOOG')" >💡 GOOGLE</button>
    <button (click)="selectCompany('AAPL')" >🍏 APPLE</button>
    <button (click)="selectCompany('MSFT')" >💻 MICROSOFT</button>
    <button (click)="selectCompany('AMZN')" >📦 AMAZON</button>
    <button (click)="selectCompany('NVDA')" >🖥️ NVIDIA</button>
    
    
  </div>
</div>
